body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.875rem;
    background-color: white;
    border-bottom: 0.125rem solid black !important;
}

.navbar .logo {
    width: 4.375rem;
}

.nav-item {
    list-style: none;
    display: flex;
    gap: 1.875rem;
}

.nav-link {
    text-decoration: none;
    color: black !important;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: grey;
}

.footer {
    width: 100%;
    background-color: #003f5c;
    padding: 1rem;
    align-items: center;
    text-align: center;
    position: relative;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.footer-content {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: center;
}

.footer-logo {
    width: 15rem;
    height: auto;
}

.social-links a i {
    color: white;
    font-size: 2rem;
    margin: 0 0.5rem;
}

@media (max-width: 768px) {
    .footer-content {
        font-size: 1rem;
    }

    .footer-logo {
        width: 10rem;
    }
}